<div id="about" class="container-fluid">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Sonso</h1>
            <p class="lead text-muted">
                Free streamers' data console. <br />
                <br />
                Sometimes, it can be difficult to track all the viewers and their activities when you are busy
                broadcasting.<br />
                <br />
                Sonso is a free tool to help you get to know them and understand them better.
            </p>
        </div>
    </section>

    <h1 id="features-info" class="sub-title text-center col-md-12">
        Features highlight
    </h1>

    <div class="album py-5 bg-light">
        <div id="about-features" class="container">
        </div>
    </div>

    <h1 id="faq-info" class="sub-title text-center col-md-12">
        Frequently Asked Questions
    </h1>

    <div id="faq-accordion" class="accordion bg-light">
        <!-- about-sub.hbs -->
    </div>
</div>