nav {
    border-bottom: solid;
    border-color: #9a9a9a;
    border-width: 1px;
    min-width: 1100px;

    .navbar-collapse {
        form {
            button {
                margin-left: 10px;
            }
        }
        .disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    .nav-auth {
        button {
            img {
                height: 20px;
                margin-right: 2px;
            }
        }
    }

    .blink {
        animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    }
    @keyframes blinker {  
        from { opacity: 1; }
        to { opacity: 0; }
    }
    
    .circle:before {
        content: ' \25CF';
        font-size: 15px;
        position: absolute;
        margin-top: -9px;
        margin-left: -13px;
    }

    .cir-active {
        color:#62E255;
    }

    .cir-inactive {
        color:#F15634;
    }

    .cir-active-no-auth {
        color:#F4F140;
    }
}