{{#each this}}
<li class="list-group-item justify-content-between lh-condensed">
    <small id="chatters-{{this._userName}}" class="{{userFollowsCSS this._userName}}">{{this._userName}}</small>
</li>
{{/each}}